@media (min-width: 75em) {
  .skinHeader .sectionTabs,
  .skinHeader .headerTabs {
      -webkit-align-self: center;
      align-self: center;
      width: auto;
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      justify-content: center;
      position: relative;
      margin-top: -4.3em;
  }
